<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KERNEL PRESSURE</title>
    <style>
        body {
            background: #111;
            color: #fff;
            font-family: "Inter", serif;
            font-weight: 900;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            height: 100dvh;
            text-transform: uppercase;
            margin: 0;
            flex-direction: column;
        }
        h1 {
            font-size: 3rem;
            margin: 0;
        }
        h2 {
            font-size: 1.49rem;
            margin: 0.25rem;
        }
    </style>
</head>
<body>
    <h1>KERNEL PRESSURE</h1>
    <h2>{{message}}</h2>
</body>
</html>
</html>